[*** DELETE CONTENT THAT IS SURROUNDED BY SQUARE BRACKETS AND A SET OF 3 ASTERISKS (*) ***]

DOCUMENT INFORMATION:
  [***Briefly describe what this document is - NOT what the system or configuration is. ***]
  [*** Ex: "This is a document describing the configuration and maintenance of the IMAGE qcow file." ***]
  
DESCRIPTION:
  [***Go into the detail of what the system does and how ***]

STANDARDS:
  [*** Include the assumptions that were made to configure the system. Things like script locations, usernames, passwords (if necessary), and other added components should be noted here ***]

INSTALLATION PROCEDURE:
  [*** Provide the necessary steps to replicate the environment in the event of dataloss or system failure. Be sure to include apps that need installation, configuration changes, and relevant resources like backups or config files that can be used to ease the process for future admins ***]
  
INSTALLED SOFTWARE:
  [*** Add the names of installed packages here. This should be the name that can be used in the apt-get install command to make it easy ***]
VERSION: 
  [*** This will likely not change unless the vanilla install image has been changed ***]
  20.04.2-LTS
RELEASE: 
  [*** Only change this if updating an existing configuration ***]
  1.0 
DATE CREATED:
  [*** MM ***]/[*** DD ***]/[*** 20XX ***]